<a href="https://colab.research.google.com/github/yuliana-ulm/Study-Independent/blob/main/Kamis08maret2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
a = np.array([1,2,3,4])
print(a[2])

3

In [9]:
import pandas as pd
a = pd.Series([5,6,7,4],index=['a','b','c','d'])
print(a)

a    5
b    6
c    7
d    4
dtype: int64

In [19]:
import pandas as ketek
nilai = ketek.DataFrame([[1,'Putri','A'],[2,'Yuliana','A'],[3,'A','A']],index=[1,2,3],columns=['No','Nama','Nilai'])
print(nilai)

   No     Nama Nilai
1   1    Putri     A
2   2  Yuliana     A
3   3        A     A

In [20]:
import pandas as ketombe
data = {
    'No' : [1,2,3],
    'Nama' : ['Yuliana','tata','haecan'],
    'Nilai' : ['A','A','A']
    }

df = ketombe.DataFrame(data)
print(df)

   No     Nama Nilai
0   1  Yuliana     A
1   2     tata     A
2   3   haecan     A